<title>PLDI 2021</title>
<html>
<body>
<link rel="stylesheet" href="static/css/bootstrap.min.css"/>

<style>

img {
  width: 100%
}

.centered {
  width: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>

<div class="container centered align-center">
  <div><img src="./static/images/pldi21-logo-clear.png"></div>
  <h1 class="text-center">
    Coming Soon!
  </h1>
  <h3  class="text-center">
  Click <a href="http://pldi21.sigplan.org/">here</a> for the latest details.
  </h3>
</div>

</body>
</html>