{% extends "base.html" %}
{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% block head %}
{{ super() }}
{{ components.calendar_scripts() }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>

{% endblock %}

{% block heading %}

{{ components.section("Schedule") }}

{% endblock %}


{% block tabs %}
{{ components.tabs([("calendar", "Week At A Glance", "active"),
        ("days", "Detailed Program", "")]) }}
        
{% endblock %}


{% block content %}

<div class="text-muted text-center pt-2">
  Click any event to see more details.  
  PLDI events labeled <span class="badge badge-light rounded-0">Q&A</span> feature live Q&A.
  <br/>
  PLDI Sessions mirrored 12 hours after their first occurrence appear in the <mark class="text-muted" style="background-color: #f0f0f8; border: 1px solid #dddddd;">shaded time bands</mark>.
</div>


<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

<!-- Calender tab -->
  <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >

  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        <div id='calendar'></div>
      </div>
    </div>

    <script>  
      document.addEventListener('DOMContentLoaded', function() {
        makeFullGridCalendar('calendar', {
          initialDate: '{{ config.calendar.start }}',
          validRange: {
            start: '{{ config.calendar.start }}',
            end: '{{ config.calendar.end }}'
          },
          height: "700px"
        },
        '{{ calendar | tojson }}').then(calendar => {
          // refreshing when this grid is hidden causes it to not
          //   be drawn properly -- so force a render on all tab changes.
          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            calendar.refetchEvents();
          })
        });
      });
    
    </script>
  </div>
  </div>

  <div
    class="tab-pane fade px-3"
    id="tab-days"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="row py-3 align-items-end">
      <div class="col-12 mt-n5 pt-n5 text-right">
          <span>Last refresh: <span id="lastUpdate"></span>
            &nbsp;&nbsp;<a href="javascript:void(0);" onclick="removePast()">Refresh Now</a>
      </div>
    </div>
      <div class="form-group col p-0" style="min-height: 700px;">
      <div id='calendar-days' class="fc-hide-summary"></div>
    </div>
    
    <script>
      var calendarDay;
      document.addEventListener('DOMContentLoaded', async function() {
      makeFullDetailedSchedule('calendar-days', 'lastUpdate', {
          initialDate: '{{ config.calendar.start }}',
          validRange: {
            start: '{{ config.calendar.start }}',
            end: '{{ config.calendar.end }}'
          }
        },
        '{{ calendar_complete | tojson }}').then(c => {
          // refreshing when this grid is hidden causes it to not
          //   be drawn properly -- so force a render on all tab changes.
          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('[data-toggle="tooltip"]').tooltip('dispose');   
            c.refetchEvents();
            $('[data-toggle="tooltip"]').tooltip({'delay': { show: 1000, hide: 100 }});   
          })

          calendarDay = c;
          });
      })

      function removePast() {
        $('[data-toggle="tooltip"]').tooltip('dispose');   
        calendarDay.updateToCurrentTime();
        $('[data-toggle="tooltip"]').tooltip({'delay': { show: 1000, hide: 100 }});   
      }

    </script>
  
  </div>



</div>



{% endblock %}

{% block footer %}
{{ super() }}

{% endblock %}
